* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Layout */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 20px;
}

/* Header */
header {
  background-color: white;
  grid-column: 1 / span 12;
  display: flex;
  gap: 50px;
  height: 64px;
  padding-left: 200px;
  padding-right: 200px;
  align-items: center;
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; */
}

header > img {
  height: 60px;
}

/* Header Inputs */
.header-input {
  display: flex;
  gap: 0px;
  width: 50%;
}

/* Location Dropdown */
.location-dropdown {
  height: 34.4px;
  padding-left: 35px;
  border: 1px solid lightgray;
  outline: 0;
  background: url("./assets/images/location-icon.png") no-repeat;
  background-size: 20px;
  background-position: 5px center;
}

/* Search */
.search-input {
  width: 100%;
  height: 38px;
  border: 1px solid lightgray;
  outline: 0;
  padding-left: 10px;
  margin-left: 10px;
}

/* Search Button */
.search-btn {
  font-weight: bold;
}

/* Nav */
nav ul {
  list-style: none;
  padding-left: 11px;
}

nav li {
  display: inline-block;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 45px;
}

/* Login Button */
.login-btn {
  width: 53.375px;
  height: 32.8px;
  font-weight: bold;
}
