* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #eee;
}

/* Layout */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 20px;
}