/* Booking */
.booking {
    max-width: 100%;
    display: flex;
    gap: 50px;
}

.restaurant-info {
    margin-top: 20px;
}

.restaurant-info > img {
    width: 720px;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.information {
    width: 680px;
    height: fit-content;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.info-header {
    font-size: 16px;
    margin-bottom: 20px;
}

.info-header h2 {
    display: inline-block;
}

.info-header p {
    display: flex;
    gap: 8px;
    color: grey;
    margin-top: 0px;
    margin-bottom: 12px;
}

.info-header img {
    width: 18px;
    height: 18px;
}

.rating {
    float: right;
    margin-top: 20px;
    display: flex;
    gap: 5px;
}

/* Restaurant Info Navigation */
.info-nav {
    padding: 15px 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.info-nav input[type="radio"] {
    display: none;
}

.info-nav label {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.info-nav label:hover {
    color: #ffd84a;
    border-bottom: 6px solid rgb(255, 0, 0);
}

.info-nav input[type="radio"]:checked + label {
    color: #ffd84a;
    border-bottom: 6px solid rgb(255, 0, 0);
}

.info-container {
    height: fit-content;
    margin: 20px 0;
    color: grey;
}

/* Restaurant Menu and Photos */
.info-container figure {
    margin: 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    cursor: pointer;
}

.info-container figure img:hover {
    transform: scale(1.05);
}

.info-container img {
    width: 215px;
    height: 238px;
    border-radius: 5px;
}

/* Restaurant Reviews */
/* Reviews Header */
.reviewsheader {
    display: flex;
    gap: 30px;
}

.reviewsheader hr {
    border: 1px solid grey;
}

.overallratings {
    text-align: center;
    margin: auto;
}

.overallratings h1 {
    color: black;
    font-size: 50px;
    margin: 0;
}

.review-profile {
    width: fit-content;
    display: flex;
    gap: 12px;
}

.reviewsheader img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.review-profile h3 {
    color: black;
    margin: 5px 0;
}

.rating-stars {
    width: fit-content;
    display: flex;
    gap: 10px;
    margin: 30px auto;
}

.overallratingstars {
    margin: 20px;
}

.rating-stars label {
    cursor: pointer;
}

.rating-stars input {
    display: none;
}

.rating-stars label {
    cursor: pointer;
}

.rating-stars input {
    display: none;
}

.starnotfilled {
    width: 25px;
    height: 25px;
}

.starfilled {
    width: 25px;
    height: 25px;
    display: none;
}

/* Overall Rating */
#overallstar1:checked ~ .star1 > .starfilled {
    display: inline-block;
}

#overallstar1:checked ~ .star1 > .starnotfilled {
    display: none;
}

#overallstar2:checked ~ .star2 > .starfilled {
    display: inline-block;
}

#overallstar2:checked ~ .star2 > .starnotfilled {
    display: none;
}

#overallstar3:checked ~ .star3 > .starfilled {
    display: inline-block;
}

#overallstar3:checked ~ .star3 > .starnotfilled {
    display: none;
}

#overallstar4:checked ~ .star4 > .starfilled {
    display: inline-block;
}

#overallstar4:checked ~ .star4 > .starnotfilled {
    display: none;
}

#overallstar5:checked ~ .star5 > .starfilled {
    display: inline-block;
}

#overallstar5:checked ~ .star5 > .starnotfilled {
    display: none;
}

/* Rating */
#star1:checked ~ .star1 > .starfilled {
    display: inline-block;
}

#star1:checked ~ .star1 > .starnotfilled {
    display: none;
}

#star2:checked ~ .star2 > .starfilled {
    display: inline-block;
}

#star2:checked ~ .star2 > .starnotfilled {
    display: none;
}

#star3:checked ~ .star3 > .starfilled {
    display: inline-block;
}

#star3:checked ~ .star3 > .starnotfilled {
    display: none;
}

#star4:checked ~ .star4 > .starfilled {
    display: inline-block;
}

#star4:checked ~ .star4 > .starnotfilled {
    display: none;
}

#star5:checked ~ .star5 > .starfilled {
    display: inline-block;
}

#star5:checked ~ .star5 > .starnotfilled {
    display: none;
}

.reviews textarea {
    display: inline-block;
    resize: none;
    width: 350px;
    height: 90px;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid grey;
}

.post-btn {
    width: 80px;
    height: 40px;
    margin: 10px 18px 10px 0;
    float: right;
    color: white;
    background: #f4c824;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.post-btn:hover {
    background-color: #ffd84a;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

/* Reviews Container  */
.reviewcontainer {
    margin: 30px 0 20px 0;
}

.customer-reviews {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
}

.reviewed-profile {
    margin-top: 15px;
    width: fit-content;
    display: flex;
    gap: 12px;
}

.reviewed-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reviewed-profile p {
    color: black;
    margin: 2px 0;
}

.post-date {
    color: grey !important;
    font-size: 15px;
    padding-left: 444px;
}

.reviewed-ratings {
    width: fit-content;
    display: flex;
    gap: 1px;
    margin: 8px 0;
}

.reviewed-ratings img {
    width: 25px;
    height: 25px;
}

.reviewed-ratings p {
    margin: 6px;
    font-size: 18px;
}

.reviewcontainer p {
    color: black;
    height: fit-content;
}

.see-more-reviews {
    display: none;
}

.seemore {
    text-align: center;
}

#seemore {
    display: none;
}

.reviewcontainer label {
    display: inline-block;
    text-align: center;
}

.reviewcontainer label:hover {
    transform: scale(1.1);
}

.reviewcontainer label img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.downarrow {
    display: inline-block;
}

.downarrow p{
    margin: 5px 0;
}

.uparrow {
    display: none;
}

.uparrow p {
    margin: 5px 0;
}

#seemore:checked ~ label .downarrow {
    display: none;
}

#seemore:checked ~ label .uparrow {
    display: inline-block;
}

#seemore:checked ~ .see-more-reviews {
    display: block;
}

/* Restaurant Contact */
.contact {
    border-top: 1px solid lightgrey;
}

.contact p {
    display: flex;
    gap: 8px;
    color: grey;
}

.contact img {
    width: 19px;
    height: 19px;
}

.contact iframe {
    width: 100%;
    height: 320px;
}


/* Booking Form */
.bookingform {
    width: 400px;
    height: fit-content;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.bookingform h3 {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f4c824;
}

.formcontainer {
    padding: 0px 30px 25px 30px;
    font-size: 17px;
}

.formcontainer label {
    display: inline-block;
    margin: 20px 0 5px 0;
    font-weight: bold;
}

.formcontainer input {
    display: block;
    width: 322px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid grey;
}

.formcontainer select {
    display: block;
    width: 340px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

.optional {
    color: grey;
    font-weight: normal;
}

.formcontainer textarea {
    display: block;
    resize: none;
    width: 322px;
    height: 150px;
    padding: 10px 10px 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid grey;
}

.submitbtn {
    width: 340px !important;
    height: 50px !important;
    font-size: 18px !important;
    padding: 0 !important;
    color: white;
    font-weight: bold;
    background-color: #f4c824;
    border: none !important;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0 0 0;
}

.submitbtn:hover {
    background-color: #ffd84a;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}