footer {
    grid-column: 1/ span 12;
    height: 70px;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.fcontainer {
    display: flex;
    gap: 70%;
    align-items: center;
}

.social {
    margin-left: 25px;
}

.social a {
    margin-left: 12px;
    align-items: center;
}