/* Header */
header {
  background-color: white;
  grid-column: 1 / span 12;
  display: flex;
  gap: 50px;
  height: 70px;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

header img {
  width: 170px;
  height: 70px;
}

/* Header Inputs */
.header-input {
  display: flex;
  gap: 0px;
  width: 65%;
}

/* Location Dropdown */
.location-input {
  width: 30%;
  height: 38px;
  padding-left: 35px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  outline: none;
  background: url("../images/location-icon.png") no-repeat;
  background-size: 20px;
  background-position: 5px center;
}

/* Nav */
nav {
  width: 40%;
  height: 38px;
  align-items: center;
  display: block;
}

/* Login Button */
.login-btn {
  width: 70px;
  height: 40px;
  color: white;
  float: right;
  background: #f4c824;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #ffd84a;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

nav {
  background-color: #fff;
  border-radius: 0.625rem;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
}

nav > ul > li {
  width: 60px;
  height: 60px;
  float: right;
}

nav li ul {
  flex-direction: column;
  background-color: white;
  align-items: flex-start;
  transition: all 0.5s ease;
  width: 12rem;
  position: absolute;
  top: 4.5rem;
  right: 0.2rem;
  border-radius: 0.325rem;
  gap: 0;
  padding: 1rem 0rem 0 0;
  opacity: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover {
  opacity: 1;
  display: block;
}

.material-icons-outlined {
  color: black;
  transition: all 0.3s ease-out;
}

.profile {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}

.sub-item {
  width: 100%;
  display: flex;
  gap: 0.725rem;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.sub-item:hover {
  background-color: rgba(232, 232, 232, 0.4);
}

.sub-item:hover .material-icons-outlined {
  color: #f4c824;
  cursor: pointer;
}

.sub-item:hover p {
  color: #f4c824;
  cursor: pointer;
}

.profile-name {
  width: 100%;
  align-items: center;
  color: #000;
  cursor: pointer;
  padding: 0 2rem;
}

.profile-name p {
  font-size: 1rem;
  margin: 10px 0;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.sub-item p {
  font-size: 1rem;
  color: black;
  margin: 0.4rem 0;
  transition: all 0.3s ease-out;
}

ul a {
  text-decoration: none;
}