/* Restaurants */
.restaurantspage {
    max-width: 100%;
    display: flex;
    gap: 50px;
}

/* Quick Filter */
.filter {
    width: 228px;
    height: fit-content;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgba(173, 173, 173, 0.2);
}

.filter h3 {
    display: inline-block;
    margin: 0;
}

.checkbtn {
    font-size: 20px;
    font-weight: bold;
    float: right;
    display: block;
    cursor: pointer;
}

.checkbtn img {
    width: 12px;
    height: 12px;
}

#check {
    display: none;
}


#check:checked ~ .filter-options {
    display: block;
}


.filter-options {
    display: none;
    margin-top: 10px;
    padding-right: 4px;
    font-size: 16px;
}

.filter-options div {
    padding-bottom: 5px;
}

.filter-options div input {
    width: 15px;
    height: 15px;
}

.filter-options div label {
    padding-left: 4px;
}

/* Recommended */
.recommended-header {
    width: 100%;
    margin-top: 20px;
}

.recommended-header h1 {
    display: inline-block;
    margin-top: 0;
}

.sort-container {
    float: right;
    font-size: 16px;
}

.sort-container label {
    margin-right: 10px;
}

.sort-container select {
    height: 28px;
    padding-left: 5px;
    border: 1px solid lightgray;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.restaurant-lists {
    height: fit-content;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    position: relative;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.restaurant-lists:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.restaurant-lists img {
    width: 250px;
    height: fit-content;
    border-top-left-radius: 5px;
}

.restaurant-ratings {
    position: absolute;
    top: 0;
    left: 0;
    background-color: gold;
    color: white;
    padding: 5px 10px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.restaurant-details h2 {
    margin: 0;
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.restaurant-details p {
    color: grey;
    margin: 10px 0;
}

.location {
    font-size: 18px;
}

.restaurant-links {
    margin: 15px 0 30px 0;
}

.restaurant-links a {
    margin-right: 30px;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.restaurant-links a:hover {
    color: gold;
}

.restaurant-links span {
    margin-left: 5px;
}

.restaurant-details img {
    width: 18px;
    height: 18px;
}

.popularity span{
    margin-left: 5px;
    color: grey;
    font-size: 16px;
}

/* Book a Table Button */
.booktable-btn {
    width: 150px;
    height: 40px;
    color: white;
    background: #f4c824;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto 10px;
}

.booktable-btn:hover {
    background-color: #ffd84a;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
